* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell,
    "Noto Sans", sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  background-color: #f6f8fa;
}

.nav {
  font-size: 18px;
  color: #000000;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  text-decoration: none;
}

.nav:focus,
.nav:hover {
  color: #3f3f3f;
}

.nav:focus:after,
.nav:hover:after {
  width: 100%;
  left: 0%;
}

.nav:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #090909;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.footer {
  margin-top: 10px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #24292f;
  color: #fff;
  box-sizing: border-box;
}

.btnFooter {
  border: 0;
  background-color: #24292f;
  color: #fff;
  font-size: 16px;
  padding: 10px;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 80px;
}

.button {
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #1a1a1a;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #3b3b3b;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 20px 100px;
  width: 150px;
  height: 50px;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}

.def {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 20%;
  margin-top: 100px;

  text-align: center;
}

.tittle {
  margin-bottom: 10px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 70px;
}

.box {
  width: 300px;
  /* height: 170px; */
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.after {
  margin-left: 70px;
}

.before {
  margin-right: 70px;
}

.input {
  margin-top: 30px;
  width: 100px;
  height: 40px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.ubah {
  margin-top: 200px;
  margin-bottom: 15px;
}

.jenisSuhu {
  cursor: pointer;
}

.jenisSuhu:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.popup {
  width: 300px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  justify-content: space-evenly;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: none;
}

.btnPopup {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-weight: 500;
  border: 0;
  background-color: #fff;
  font-size: 16px;
}

.btnPopup:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}

.btnConvert {
  width: 200px;
  height: 45px;
  background-color: #fff;
  border: 1.5px solid black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-weight: 500;
}

.btnConvert:hover {
  background-color: #000000;
  color: #fff;
  border: 1.5px solid rgb(255, 255, 255);
}

.infoJkw{
  text-align: center;
  margin-top: 100px;
}

.jkw {
  margin: 30px 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 600px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 30px;
}



.inputJkw {
  width: 150px;
  height: 35px;
  border: 1.5px solid black;
  margin: 10px 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
}

.inpAtas {
  margin-bottom: 40px;
}

.kanan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.kiri {
  margin-right: 170px;
}

 #selectPopup {
  display: none;
  margin-top: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.select{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 70px;
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.tittleJkw {
  margin-bottom: 10px;
}

#hitung{
  width: 155px;
  height: 40px;
  margin-top: 50px;
  background-color: #fff;
  border: 1.5px solid black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-weight: 700;
}

#hitung:hover{
  background-color: #000000;
  color: #fff;
}

.multi {
  width: 150px;
  height: 30px;
  background-color: #fff;
  border: 0;
  font-weight: 600;
}